@import "./components/fonts";
@import "./components/form";
@import "./base/mixin";

.section--team__item {
  &:hover {
    .section__team--social {
      transform: translateX(0);
    }
  }
}
.section__work {
  &--txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      @include txt_title();
      padding-bottom: toRem(25);
    }
    h2 {
      @include txt_h2();
      padding-bottom: toRem(25);
    }
  }
  &--nav {
    ul {
      display: flex;
      gap: toRem(45);
      justify-content: center;
      padding-bottom: toRem(60);
    }
    li {
      list-style-type: none;

      a {
        font-family: "WorkSans-Medium";
        font-size: toRem(20);
        line-height: 1.23;
        color: #7b7b7b;
        transition: all 0.3s ease;
        &:hover {
          color: #ff5300;
        }
      }
    }
  }
  &--imgwrap {
    display: flex;
    padding-bottom: toRem(125);
  }
  &--imgitem {
    position: relative;
    overflow: hidden;
    &--category {
      position: absolute;
      bottom: toRem(47);
      left: 50%;
      transform: translateX(-150%);
      text-align: center;
      width: 100%;
      transition: all 0.3s ease;
      img {
        margin-bottom: toRem(25);
      }
      h3 {
        margin-bottom: toRem(18);
        font-family: "WorkSans-Medium";
        font-size: toRem(25);
        line-height: 1.23;
        color: #fff;
      }
      p {
        font-family: "WorkSans-Medium";
        font-size: toRem(25);
        line-height: 1.23;
        color: #fff;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 83, 0, 0.9);
      transition: all 0.3s ease;
      opacity: 0;
    }
  }
  @media (max-width: 1024px) {
    &--txt {
      padding: toRem(50) 0;
    }
    &--imgwrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: toRem(50);
    }
    &--nav {
      ul {
        gap: toRem(15);
      }
    }
  }
}
.section__work--imgitem:hover {
  &::after {
    opacity: 1;
  }
  .section__work--imgitem--category {
    transform: translateX(-50%);
    z-index: 1;
  }
}
.section__feedback {
  background: #fff7f4;
  &--txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: toRem(60) 0;
    p {
      @include txt_title();
      padding-bottom: toRem(25);
    }
    h2 {
      @include txt_h2();
      padding-bottom: toRem(25);
    }
  }
  &--blocks {
    display: flex;
    gap: toRem(190);
    padding-left: toRem(50);
  }
  &--item {
    background: #ff5300;
    padding: toRem(35) toRem(35) toRem(25) toRem(65);
    position: relative;
    h3 {
      font-family: "WorkSans-Medium";
      font-size: toRem(25);
      line-height: 1.23;
      font-weight: 500;
      color: #ffffff;
      padding-bottom: toRem(10);
    }
    p {
      font-family: "WorkSans-Regular";
      font-size: toRem(16);
      line-height: 1.5;
      font-weight: 400;
      color: #ffffff;
      &:first-of-type {
        padding-bottom: toRem(25);
      }
    }
    img {
      position: absolute;
      transform: translateX(toRem(-105));
    }
  }
  &--footer {
    padding-top: toRem(50);
    padding-bottom: toRem(60);
    ul {
      display: flex;
      justify-content: center;
      gap: toRem(4);
    }
    li {
      list-style-type: none;
      height: toRem(15);
      width: toRem(15);
      max-width: toRem(50);
      border-radius: 50%;
      flex: 0 1 auto;
      transition: all 0.3s ease;
      &:hover {
        flex-grow: 2;
        border-radius: toRem(7.5);
      }
      &:nth-child(1) {
        background: #ff5300;
      }
      &:nth-child(2) {
        background: #373737;
      }
      &:nth-child(3) {
        background: #7b7b7b;
      }
    }
  }
  @media (max-width: 1024px) {
    &--blocks {
      display: flex;
      flex-direction: column;
    }
    &--txt {
      padding-bottom: toRem(20);
    }
  }
}
.section__blog {
  background: #fff;
  &--blocks {
    display: flex;
    gap: toRem(30);
  }
  &--item {
    box-shadow: toRem(0) toRem(1) toRem(10) rgba(0, 0, 0, 0.1);
    padding: toRem(25);
    flex: 1;
  }
  &--iteminfo {
    display: flex;
    gap: toRem(48);
  }
  &--itemtxt {
    p {
      @include txt_title();
      color: #ff5300;
      padding-bottom: toRem(18);
    }
    h4 {
      font-family: "WorkSans-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: toRem(25);
      line-height: 1.23;
      color: #373737;
      padding-bottom: toRem(10);
    }
  }
  &--itemimg {
    flex: 1 0 30%;
  }
  &--itemprof {
    display: flex;
    gap: toRem(10);
  }
  &--itemproftxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-family: "WorkSans-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: toRem(20);
      line-height: 1.23;
      color: #373737;
      padding-bottom: toRem(6);
    }
    p {
      @include txt_title();
      color: #7b7b7b;
    }
  }
  &--txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: toRem(60) 0;
    p {
      @include txt_title();
      padding-bottom: toRem(25);
    }
    h2 {
      @include txt_h2();
      padding-bottom: toRem(25);
    }
  }
  &--footer {
    padding-top: toRem(50);
    padding-bottom: toRem(60);
    ul {
      display: flex;
      justify-content: center;
      gap: toRem(4);
    }
    li {
      list-style-type: none;
      height: toRem(15);
      width: toRem(15);
      max-width: toRem(50);
      border-radius: 50%;
      flex: 0 1 auto;
      transition: all 0.3s ease;
      &:hover {
        flex-grow: 2;
        border-radius: toRem(7.5);
      }
      &:nth-child(1) {
        background: #ff5300;
      }
      &:nth-child(2) {
        background: #373737;
      }
      &:nth-child(3) {
        background: #7b7b7b;
      }
    }
  }
  @media (max-width: 1024px) {
    &--blocks {
      flex-direction: column;
    }
  }
}
.section__contact {
  background: #fff;
  &--txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: toRem(60) 0;
    p {
      @include txt_title();
      padding-bottom: toRem(25);
    }
    h2 {
      @include txt_h2();
    }
  }
  &--blocks {
    display: flex;
    justify-content: center;
    gap: toRem(30);
    padding-bottom: toRem(60);
  }
  &--block {
    box-shadow: toRem(0) toRem(1) toRem(10) rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: toRem(18) 0 toRem(24) toRem(18);
  }
  &--item {
    display: flex;
    gap: toRem(18);
    padding-bottom: toRem(36);
    h4 {
      font-family: "WorkSans-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: toRem(25);
      line-height: 1.23;
      color: #ff5300;
      padding-bottom: toRem(10);
    }
    h3 {
      font-family: "WorkSans-SemiBold";
      font-style: normal;
      font-weight: 600;
      font-size: toRem(31.25);
      line-height: 1.23;
      color: #373737;
    }
  }
  &--img {
    img {
      background: #ff5300;
      padding: toRem(22);
      border-radius: 50%;
    }
  }
  &--title {
    display: flex;
    flex-direction: column;
  }
  &--link {
    display: flex;
    flex-direction: column;
    gap: toRem(18);
    font-family: "WorkSans-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: toRem(20);
    line-height: 1.23;
    color: #7b7b7b;
    a {
      font-family: "WorkSans-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: toRem(20);
      line-height: 1.23;
      color: #7b7b7b;
    }
  }
  &--link2 {
    display: flex;
    gap: toRem(18);
    p {
      color: #ff5300;
    }
  }
  &--formwrap {
    display: flex;
    gap: toRem(30);
    margin-bottom: toRem(60);
    h2 {
      padding-bottom: toRem(18);
      font-family: "WorkSans-SemiBold";
      font-size: toRem(31.25);
      line-height: 123.6%;
    }
  }
  &--formimg {
    flex: 1 0 40%;
  }
  &--formblock {
    flex: 1 0 calc(60%-30px);
  }
  @media (max-width: 1024px) {
    &--blocks {
      flex-direction: column;
    }
    &--formwrap {
      flex-direction: column;
    }
    &--formimg {
      display: flex;
      justify-content: center;
    }
    &--formblock {
      h2 {
        text-align: center;
      }
    }
  }
  @media (max-width: 1024px) {
    &--formblock {
      button {
        align-self: flex-start;
      }
    }
    .form {
      flex-direction: column;
    }
  }
}
.section__cart {
  margin-bottom: toRem(125);
  @media (max-width: 1024px) {
    margin-bottom: toRem(50);
  }
}
.section__imglogo {
  display: flex;
  justify-content: space-between;
  margin-bottom: toRem(125);
  @media (max-width: 1024px) {
    margin-bottom: toRem(50);
    gap: toRem(10);
  }
}

.footer {
  background: #373737;
  padding-top: toRem(60);
  &--main {
    display: flex;
    gap: toRem(37);
    padding-bottom: toRem(60);
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &--logo {
    p {
      padding-bottom: toRem(18);
    }
    img {
      padding-top: toRem(8);
      padding-bottom: toRem(25);
    }
  }
  &--social {
    display: flex;
    gap: toRem(25);
    a {
      display: flex;
      justify-content: center;
      min-width: toRem(40);
      background: #ffffff;
      padding: toRem(10);
      box-shadow: toRem(0) toRem(1) toRem(10) rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      &:hover {
        background: #ff5300;
        path {
          fill: #fff;
        }
      }
    }
  }
  &--nav {
    li {
      list-style-type: none;
      @include txt_title();
      color: #fff;
      padding-bottom: toRem(10);
    }
  }
  &--Newsletter {
    p {
      padding-bottom: toRem(25);
    }
  }
  &--form {
    display: flex;
    input {
      padding: toRem(18);
      background: #373737;
      border: toRem(1) solid #ff5300;
      ::placeholder {
        @include txt_title();
      }
    }
    button {
      width: toRem(60);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0%;
      font-size: 0%;
      @media (max-width: 1024px) {
        padding: 0;
      }
    }
  }
  &--home {
    padding: toRem(20);
    background: #ff5300;
    &--main {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--link {
      min-width: toRem(30);
    }
    &--txt {
      display: flex;
      img {
        width: toRem(20);
        height: toRem(20);
        margin-right: toRem(20);
      }
      p {
        @include txt_title();
        color: #fff;
      }
    }
  }
}
.footblock {
  flex: 1;
  h2 {
    font-family: "WorkSans-SemiBold";
    font-size: toRem(39.06);
    line-height: 123.6%;
    color: #fff;
    padding-bottom: toRem(25);
  }
  p {
    @include txt_title();
    color: #fff;
  }
}
