@mixin txt_title {
  font-family: "WorkSans-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #7b7b7b;
}
@mixin txt_h2 {
  text-align: center;
  font-family: "WorkSans-SemiBold";
  font-size: 39.06px;
  line-height: 1.23;
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
